[

  {verify_service, [
%%    public params
    {private_key_default_pwd, "111111"}
    , {check_interval, 0.5}  % Unit: minute  Data type:integer or float
    , {priv_dir, "/priv"}
    , {check_list,[ums_bankcard]}
%%      ums config pragrams
    , {ums_keys_dir, "/keys/ums/"}
    , {usm_public_key_file, "ums_public_key.pem"}
    , {ums_mer_list,
      [
        {ums_bankcard, {bankcard, ['030000563']}}
      ]}
    , {ums_mer_props,
      #{
        '030000563' => #{}
      }}
    , {ums_merchId, 030000563}
    , {ums_bank_url, "http://218.5.69.218:8088/easserver/gateway/1/realNameVerify/030000563"}
    , {ums_timeout, 20000}

  ]},


  {lager,
    [
      {log_root, "/tmp/logs/"},
      {handlers,
        [
          {lager_console_backend,
            [debug,
              {lager_default_formatter,
                [date, " ", time
                  , " [", severity, "]"
                  , {module, [
                  module,
                  {function, [":", function], ""},
                  {line, [":", line], ""}], ""},
                  {pid, ["@", pid], ""},
                  message
                  , "\n"
                ]
              }
            ]
          }
%%        {lager_file_backend, [{file, "error.log"}, {level, error}, {date, "$D23"}, {count, 60}]},
%%        {lager_file_backend, [{file, "console.log"}, {level, debug}, {date, "$D23"}, {count, 60}]}
        ]}
    ]}

].

